<h1>public/customer#edit</h1>

<div>
<%= form_with model: @customer, url:customers_path, method: :patch do |f| %>
<p>Last_name</p>
<%= f.text_field :last_name %>
<p>First_name</p>
<%= f.text_field :first_name %>
<p>Last_name_kana</p>
<%= f.text_field :last_name_kana %>
<p>First_name_kana</p>
<%= f.text_field :first_name_kana %>
<p>Email</p>
<%= f.text_field :email %>
<p>Postal_code</p>
<%= f.text_field :postal_code %>
<p>Address</p>
<%= f.text_area :address %>
<p>Telephone_number</p>
<%= f.text_field :telephone_number %>

<p><%= f.submit "Update Customer" %></p>
<%end%>
</div>