<div class="container-md p-5">
<h2>admin/items#index</h2>

<%= link_to "商品の新規登録", new_admin_item_path %>

<div>
 <% @items.each do |item| %>
 <div>
  <span>
  <% if item.image.attached? %>
   <%= image_tag item.image, size: "100x100" %>
  <% else %>
   <%= image_tag 'default-image', size: "100x100" %>
  <%end%>
  </span>
  <span> <%= link_to item.name, admin_item_path(item.id) %></span>
 </div>
 <div>
 <%= item.introduction %>
 <%= item.price %>
 <%= item.is_sales_i18n %>
 </div>
<% end %>
</div>
</div>