<h1>admin/items#index</h1>

<%= link_to "商品の新規登録", new_admin_item_path %>

<div>
 <% @items.each do |item| %>
 <% if item.is_sales == true %>
 <div>
  <span>
  <% if item.image.attached? %>
   <%= image_tag item.image, size: "100x100" %>
  <% else %>
   <%= image_tag 'default-image', size: "100x100" %>
  <%end%>
  </span>
  <span><%= item.name %></span>
 </div>
 <div>
 <%= item.introduction %>
 <%= item.price %>
 <%= item.is_sales %>
 <%= link_to 'Show', admin_item_path(item.id) %>
 <%= link_to 'Edit', edit_admin_item_path(item.id) %>
 </div>
<% end %>
<% end %>
</div>