<h1>admin/items#new</h1>

<h1>商品新規登録</h1>

<%= form_with model: @item, url:admin_items_new_items_information_path, method: :post do |f| %>
<%= f.label :image, "商品画像" %>
<%= f.file_field :image, accept: "image/*" %>
 <!--accept:"image/*" ...画像ファイルしか投稿できないようにする-->
<%= f.label :name, "商品名" %>
<%= f.text_field :name %>
<%= f.label :introduction, "商品説明" %>
<%= f.text_area :introduction %>
<%= f.label :price, "税抜き価格" %>
<%= f.text_field :price %>円
<%= f.label :is_sales, "販売ステータス" %>
<%= f.radio_button :is_sales, Item.is_sales.key(true) %>
<%= f.label :is_sales_sale, Item.is_sales_i18n[:sale] %>
<%= f.radio_button :is_sales, Item.is_sales.key(false) %>
<%= f.label :is_sales_notsale, Item.is_sales_i18n[:notsale] %>
 <%= f.submit '新規登録' %>
<%end%>