<div class="container-md p-5">
  <h2>商品詳細</h2>
    <div class="d-flex flex-row">
      <div class="col-md-6">
        <p><%= image_tag @item.image, size: "400x300" %></p>
      </div>
        
      <div class="col-md-6 m-5">
        <p class="h2"><strong><%= @item.name %></strong></p>
        <p class="p-2"><%= @item.introduction %></p>
        <p class="p-2">¥<%= @item.price %>(税込)</p>
        <p class="p-2"><%= @item.is_sales_i18n %></p>
              
        <p class="pt-5 pl-2"><%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %></p>
      </div>
    </div>
</div>

<!--<h1>admin/items#show</h1>-->

<!--<h1><%= @item.name %>の詳細画面</h1>-->

<!--<p><%= image_tag @item.image, size:"300×300" %></p>-->

<!--<h2>商品名</h2>-->
<!--<p><%= @item.name %></p>-->

<!--<h2>商品説明文</h2>-->
<!--<p><%= @item.introduction %></p>-->

<!--<h2>価格</h2>-->
<!--<p><%= @item.price %></p>-->

<!--<h2>販売ステータス</h2>-->
<!--<p><%= @item.is_sales_i18n %></p>-->

<!--<p><%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %></p>-->

