<div class="container-md">
  <div class="col-md-8  p-5">
    <p>ようこそ、ながのCAKEへ!</p>
    <p>このサイトは、ケーキ販売のECサイトになります。</p>
    <p>会員でない方も商品の閲覧はできますが、</p>
    <p>購入には会員登録が必要になります。</p>
  </div>
</div>

<div class="container-md p-5">
  <h4>新着商品</h4>
    <div class="d-flex justify-content-around">
      <% @items.each do |f| %>
       <div class="d-flex flex-column mt-4">
         <% if customer_signed_in? %>
          <%= link_to item_path(f.id) do %>
            <p><%= image_tag f.image, size: "150x100" %></p>
          <% end %>
         <% else %>
            <p><%= image_tag f.image, size: "150x100" %></p>
         <% end %>
         </p><%= f.name %></p>
         </p><%= f.price %>円</p>
       </div>
      <%end%>
    </div>
  <p class="text-right"><%= link_to '全ての商品を見る', items_path, method: :get %></p>
</div>