<h1>admin/customer#index</h1>

<h1>会員一覧画面</h1>

<% @customers.each do |customer| %>
<p>id</p>
<span><%= customer.id %></span>
<p>name</p>
<span><%= customer.last_name %></span><span><%= customer.first_name %></span>
<span><%= customer.last_name_kana %></span><span><%= customer.first_name_kana %></span>
<p>adress</p>
<%= customer.postal_code %>
<%= customer.address %>
<p>telephone_number</p>
<%= customer.telephone_number %>
<p>is_deleted</p>
<%= customer.is_deleted %>
<% end %>