<h1>admin/customer#index</h1>

<h1>会員一覧画面</h1>

<% @customers.each do |customer| %>
<p>id</p>
<span><%= customer.id %></span>
<p>name</p>
<span><%= customer.last_name %></span><span><%= customer.first_name %></span>
<span><%= customer.last_name_kana %></span><span><%= customer.first_name_kana %></span>
<p><%= customer.email %></p>
<p>is_deleted</p>
<%= customer.is_deleted %>

<%= link_to "Show", admin_customer_path(customer.id) %>
<% end %>