<div class="container-md p-5">
  <h2><%= @customer.last_name %><%= @customer.first_name %>さんの編集画面</h2>

 <div class="mt-5">
      <table class="table table-borderless">
         <tr>
            <th class="col-3">氏名</th>
            <td class="col-9"><span><%= @customer.last_name %></span><span><%= @customer.first_name %></span></td>
         </tr>
         <tr>
            <th class="col-3">カナ</th>
            <td class="col-9"><span><%= @customer.last_name_kana %></span><span><%= @customer.first_name_kana %></span></td>  <!--税込み単価（消費税の10%を加算）-->
         </tr>
         <tr>
            <th class="col-3">郵便番号</th>
            <td class="col-9"><%= @customer.postal_code %></td>
         </tr>
         <tr>
            <th class="col-3">住所</th>
            <td class="col-9"><%= @customer.address %></td>
         </tr>
         <tr>
            <th class="col-3">電話番号</th>
            <td class="col-9"><%= @customer.telephone_number %></td>
         </tr>
         <tr>
            <th class="col-3">メールアドレス</th>
            <td class="col-9"><%= @customer.email %></td>
         </tr>
         <tr>
            <th class="col-3">会員ステータス</th>
          <% if @customer.is_deleted == true %>
            <td class="text-secondary col-9">退会中</td>
        　<% else %>
            <td class="text-success col-9">有効</td>
          <% end %>
         </tr>         
      </table>
      
      <div class="d-flex flex-row mt-5">
        <p><%= link_to "編集する", edit_admin_customer_path(@customer.id),  class: "btn btn-success btn-sm" %></p>
    
        <p class="ml-5"><%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-primary btn-sm" %></p>
      </div>
    </div>
</div>
