<h1>Orders#confirm</h1>

<h1>注文確認画面</h1>

<table>
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
     <% @cart_items.each do |cart_item| %>
        <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %></td>
                <% @order.amount_money += cart_item.subtotal %>
        </tr>
     <%end%>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>送料</th>
            <th>商品合計</th>
            <th>請求金額</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @order.postage %></td>
            <td><%= @order.amount_money %></td>
            <td><%= @order.postage+@order.amount_money %></td>
        </tr>
    </tbody>
</table>


<h2>支払方法</h2>
<%= @order.payment_method_i18n %>
<h2>お届け先</h2>
<span>〒<%= current_customer.postal_code %></span><span><%= current_customer.address %></span>
<span><%= current_customer.last_name %></span><span><%= current_customer.first_name %></span>

<%= form_with model: [@order, @order_detail], url: orders_path, method: :post do |f| %>
<%= f.hidden_field :amount_money, :value => @order.amount_money %>
<%= f.hidden_field :payment_method, :value => @order.payment_method %>
<%= f.hidden_field :postage, :value => @order.postage %>
<%= f.hidden_field :postal_code, :value => current_customer.postal_code %>
<%= f.hidden_field :address, :value => current_customer.address %>
<%= f.hidden_field :name, :value => current_customer.last_name + current_customer.first_name %>

<%= hidden_field :order_id, :value => @order.id %>
<%= hidden_field :item_id, :value => @cart_items.item.id %>
<%= hidden_field :amount, :value => @cart_items.amount %>
<%= hidden_field :unit_price, :value => @cart_item.item.with_tax_price %>
<%= f.submit "注文を確定する" %>
<%end%>