<div class="container-md p-5">
  <h2 class="">注文情報入力</h2>

  <div>
    <%= form_with model: @order, url: confirm_orders_path, method: :post do |f| %>
      <div class="p-4">
        <p><strong>支払方法</strong></p>
        <div class= "pl-5">
          <span><%= f.radio_button :payment_method, Order.payment_methods.key(0) %></span>  <!--ymlファイルで定めたkey1のハッシュ（credit_card）を呼び出す-->
          <span><%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %></span>  <!--credit_cardをクレジットカードに日本語化する-->
      　</div>
        <div class= "pl-5">
          <span><%= f.radio_button :payment_method, Order.payment_methods.key(1) %></span>
          <span><%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%></span>
          <!--enum導入 で学習した日本語化の記述を反映させる-->
        </div>
      </div>

      <div class="pl-4">
        <p><strong>お届け先</strong></p>
        <div class= "pl-5">
          <%= f.radio_button :address, current_customer.postal_code + current_customer.address %>
          <%= f.label :address, "ご自身の住所" %>
        </div>
        <div class= "pl-5">
          <span>　〒<%= current_customer.postal_code %></span><span><%= current_customer.address %></span>
          <span><%= current_customer.last_name %></span><span><%= current_customer.first_name %></span>
        </div>
      </div>

      <%= f.hidden_field :order_id, :value => @order.id %>

      <p class="text-center m-4"><button class="btn btn-primary" type="submit">確認画面へ進む</button></p>

    <%end%>

  </div>
</div>




<!--form_withのモデルクラスのインスタンス：保存したいテーブルのクラスのインスタンス-->