<div class="container-md p-5">
  <h3>ログイン</h3>
  <p class="m-4">会員の方はこちらからログイン</p>

      <div class="ml-5">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="field">
          <div class="form-group row">
            <label class="col-md-2 control-label" for="email">メールアドレス</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
         </div>
         
         <div class="field">
          <div class="form-group row">
             <label class="col-md-2 control-label" for="email">パスワード</label> 
             <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
         </div>
        
          <% if devise_mapping.rememberable? %>
          <div class="field">
             <%= f.check_box :remember_me %>
             <%= f.label :remember_me %>
          </div>
          <% end %>
          
          
          <div class="actions py-3">
             <button class="btn btn-success" type="submit">ログイン</button>
          </div>
        <% end %>
      </div>
    
  <div class="m-4">
  <p>会員登録がお済みでない方</p>
  <p class="ml-4"><%= link_to 'こちら', new_customer_registration_path %>から新規登録を行ってください。</p>
  </div>
</div>


