<div class="container-md p-5">
  <h2>商品一覧</h2><span>全<%= @items.count%>件</span>
   <div class="d-flex flex-wrap">
  　<% @items.each do |item|2%>
  　<div class="d-flex flex-column col-md-3">
      <% if item.image.attached? %>
        <p><%= image_tag item.image, size: "150x100" %></p>
      <% else %>
        <p><%= image_tag 'default-image', size: "100x100" %></p>
      <%end%>
      
      <% if customer_signed_in? %>
        <p><%= link_to item.name, item_path(item.id) %></p>
      <% else %>
        <p><%= item.name %></p>
      <% end %>
      
        <p><%= item.price %>円</p>
        
      <% if item.is_sales == "sale" %>
        </p>販売中</p>
      <% else %>
        </p>売り切れ</p>
      <% end %>
      
      <!--<% if customer_signed_in? %>-->
      <!--  <%= link_to 'Show', item_path(item.id) %>-->
      <!--<% end %>-->
      </div>
　  <% end %>
 </div>
</div>