<div class="container-md p-5">
  <h2>商品一覧</h2>
  <p>全<%= @items.count%>件</p>
   <div class="d-flex flex-wrap">
  　<% @items.each do |item| %>
  　<div class="d-flex flex-column m-4">
  　<% if customer_signed_in? %>
      <%= link_to item_path(item.id) do %>
        <p><%= image_tag item.image, size: "150x100" %></p>
      <% end %>
    <% else %>
      <p><%= image_tag item.image, size: "150x100" %></p>
    <% end %>

      <p><%= item.name %></p>      
      <p><%= item.price %>円</p>
        
      <% if item.is_sales == "sale" %>
        </p>販売中</p>
      <% else %>
        </p>売り切れ</p>
      <% end %>
      </div>
　  <% end %>
 </div>
</div>