<h1>items#show</h1>

<h1><%= @item.name %>の詳細画面</h1>

<p><%= image_tag @item.image, size:"300×300" %></p>

<h2>商品名</h2>
<p><%= @item.name %></p>

<h2>商品説明文</h2>
<p><%= @item.introduction %></p>

<h2>価格</h2>
<p><%= @item.price %></p>

<%= form_with model: @cart_item, url:cart_items_path, method: :post do |f| %>
<%= f.label :amount, "個数選択" %>
<%= f.select :amount, *[1..10] %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.hidden_field :customer_id, :value => current_customer.id %>
<!--所持している値を次のアクション（cart_items_path）に渡す-->
<!--「キー（item_id）」と「値（@item.id）」-->
<%= f.submit "Cart in" %>
<% end %>

